.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  align-items: center;
}

.formField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  display: block;
  margin-top: 0.25rem;
  color: red;
  font-weight: bold;
}
